@font-face {
    font-family: 'Futura PT';
    font-weight: 300;
    src: url('fonts/futura/FuturaCyrillicLight.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 400;
    src: url('fonts/futura/FuturaCyrillicBook.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 500;
    src: url('fonts/futura/FuturaCyrillicMedium.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 600;
    src: url('fonts/futura/FuturaCyrillicDemi.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    src: url('fonts/futura/FuturaCyrillicBold.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 800;
    src: url('fonts/futura/FuturaCyrillicHeavy.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 900;
    src: url('fonts/futura/FuturaCyrillicExtraBold.woff') format('woff');
}

p {
  text-align: center;
  font-size: 20px;
  font-family: 'Futura PT', Arial, sans-serif;
}