header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

header h1 {
    margin: 10px 0 5px;
}

.about {
    text-align: center;
    margin: 20px;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
    margin-bottom: 30px;
}

.link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.link span {
    z-index: 2;
}

.topright {
    position: relative;
}

div.topright {
    position: absolute;
    top: 0px;
    right: 0px;
}

.pager {
    position: relative;
}

img.pager {
    position: absolute;
    right: 10%;
    bottom: 10%;
}