body {
  background-color: black;
  color: #00FF00;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

@font-face {
   font-family: JetBrains;
   src: url(JetBrainsMono-Regular.woff2);
}

#terminal {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
}

#output {
  white-space: pre-wrap;
}

#input-line {
  display: flex;
}

.prompt {
  margin-right: 5px;
}
span {
  font-size: 20px;
}
input[type="text"] {
  background: none;
  border: none;
  color: #00FF00;
  font-family: JetBrains, monospace;
  font-size: 20px;
  outline: none;
  width: 100%;
}
